phase_4/atlantes_2020-2021.csv
phase_4/atlantes_2021-2022
phase_4/atlantes_2021-2022_rotadas
phase_4/P4 Atlantes AstroPi (es) 2020-2021.ipynb
phase_4/P4 Atlantes AstroPi (es) 2021-2022.ipynb
phase_4/.ipynb_checkpoints
